
.home {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 1rem;
}


.writeup{
  font-size: large;
  padding: 3rem;
  text-align: center;
}

.logolinks ul {
  display: flex;
  float:inline-start;
  justify-content: center;
  list-style: none;
  margin-left: -40px;
  margin-bottom: 150px;
}

.logolinks li a {
  margin-right: 20px;
  height: 30px;
  width: 50px;
  padding-left: 2rem;
}

.logolinks img {
  height: 150px;
  width: 150px;
}

.course {
  margin-top: 13px;
}

.usertext{
  text-decoration: none;
  color: rgb(242, 20, 4);
  text-align: center;
  padding-left: 2rem;
}

.coursetext{
  text-decoration: none;
  color: rgb(29, 133, 230);
  text-align: center;
}

.coursetext h4 {
  margin-top: 5px;
  margin-left: 20px;
}

.usertext h4 {
  /* margin-top: 5px; */
  margin-left: 20px;
}

.usertext img:hover {
  opacity: 0.7;
}

.coursetext img:hover {
  opacity: 0.7;
}
