.supervisor{
    margin-top: 10%;
    }
    .supervisorform{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .supervisorhead{
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .table{
    margin-top: 40px;
    margin-bottom: 100px;
    }
    .button{
        background: rgb(27, 25, 25);
        color: white;
        font-size: 1rem;
        padding: auto;
        margin: auto;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
    #btnOne{
     margin-left: 20%;
    
    }
    #btnTwo{
        margin-left: 70%;
     
    }
    .buttonthree{
         font: inherit;
        border: 1px solid #4f005f;
        background: #4f005f;
        color: white;
        padding: 0.3rem 0.75rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 30px;
        background: rgb(27, 25, 25);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        text-decoration: none;
        margin-top: 10px;
        margin-right: -20px; 
        margin-bottom: 10px;
    }
    